* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.blue-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 20%;
}

.blue {
    width: 80%;
    background-color: #2B7CB0;
}

.orange{
    height: 23%;
    background-color: #FA9F46;
    margin: 20px;
}

.green-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 32%;
}

.green {
    width: 80%;
    background-color: #70AF3C;
}

.red-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 20%;
}

.red {
    width: 80%;
    background-color: #ED3740;
}
